@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/main.css");
@import url("sections/section.css");
@import url("sections/aside.css");
@import url("sections/footer.css");
@import url("sections/shop.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.orange {
  color: #eea539;
}
 @media screen and (max-width: 892px) {

  .header__nav__center {
    display: none;
    overflow:none;
    width: 100%;
  }
 main, aside, section, footer, header{
  max-width: 100%;
  display: block;
 }
} 
