.header__nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
}
.header__nav {
  background-color: #f4f7fb;
}
.header__nav__center ul {
  display: flex;
  font-size: 1.5em;
}
.header__nav__center ul li {
  list-style-type: none;
  padding: 0.6rem 1.5rem;
}
.header__nav__right img {
  padding: 1em;
}
.header__nav__center ul :hover {
  background-color: #eea539;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .header__nav__center{
    display:none;
  }
}
