.header__nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
}
.header__nav {
  background-color: #f4f7fb;
}
.header__nav__center ul {
  display: flex;
  font-size: 1.5em;
}
.header__nav__center ul li {
  list-style-type: none;
  padding: 0.6rem 1.5rem;
}
.header__nav__center ul a {
  text-decoration: none;
  color: black;
}
.header__nav__right img {
  padding: 1em;
}
.header__nav__center ul :hover {
  background-color: #eea539;
  color: white;
  cursor: pointer;
}

.header__nav__right {
  display: flex;
  position: relative;
}

.cart {
  height: 20px;
  width: 20px;
  background-color: red;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 35%;
  font-size: 1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__right__menu {
  display: none;
}
.header {
  position: relative;
}
.cart-container {
  /* width: 600px; */
  min-height: 40vh;
  background-color: aqua;
  position: absolute;
  right: 0;
  border-radius: 20px;
  top: 10%;
}
.show__cart {
  width: 500px;
}
